<h1>Angular Router App</h1>
<nav>
  <a routerLink="login">Login</a>
  <br>
  <a routerLink="register">Register</a>
  <br>
  <a routerLink="todolist">TodoList</a>
  <br>
  <a routerLink="createtodo">CreateTodo</a>
</nav>


<!-- passing data parent components to child components -->
<app-profile [name]="data" [userInfo]="userData" (parentFunction)="parentComponents($event)" (parentFunction2)="parentComponents2($event)"></app-profile>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>