
<!-- conditional rendaring/ternary operator -->
<h1>
  {{ updateTodo ? 'Update todo components.' : 'Create todo components.' }}
</h1

>
<div class="container">
    <form #userForm="ngForm" (ngSubmit)="updateTodo?editTodo(userForm):createTodo(userForm)">
   
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="updateTodo?updateTodo.title:todo.title" required>
        <div *ngIf="userForm.controls['title']?.touched && userForm.controls['title']?.invalid" class="text-danger">
          Title is required.
        </div>
        
      </div>
      
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="updateTodo?updateTodo.desc:todo.desc" required>
        <div *ngIf="userForm.controls['desc']?.touched && userForm.controls['desc']?.invalid" class="text-danger">
          Description is required!
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

